<!DOCTYPE html>
<html lang="en" class="min-h-screen h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/sample-project.css" /> <!-- Add this line -->
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    <script src="/static/js/sample-project.js"></script> <!-- Add this line -->
</head>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VD3FWBHF4C"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-VD3FWBHF4C');
</script>
<body class="min-h-screen bg-gray-950 font-mono">
<main class="">
    <div class="bg-gray-950">
        <div class="mx-auto max-w-7xl">
            <div class="bg-gray-950 py-10">
                <div class="px-4 sm:px-6 lg:px-8">
                    <div class="sm:flex sm:items-center">
                        <div class="sm:flex-auto">
                            <h1 class="text-4xl font-semibold leading-6 text-white">Bitcoin ETF Outflows</h1>
                        </div>
                    </div>
                    <div class="mt-10">
                        <iframe width="100%" height="420" frameborder="0" src="https://www.theblock.co/data/crypto-markets/bitcoin-etf/spot-bitcoin-etf-flows/embed" title="Spot Bitcoin ETF Flows"></iframe>
                    </div>
                    <div class="mt-10 text-gray-300">
                        <p>This chart shows the outflows of Bitcoin ETFs. It provides insights into the movement of Bitcoin within ETFs, indicating investor sentiment and market trends.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
