<html class="h-full">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Guestbook | Error</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-0318971566325934"
     crossorigin="anonymous"></script>
  </head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-VD3FWBHF4C"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-VD3FWBHF4C');
  </script>
  <body class="h-full">
    <main class="relative isolate min-h-full">
      <div class="mx-auto max-w-7xl px-6 py-32 text-center sm:py-40 lg:px-8">
        <p class="text-base font-semibold leading-8 text-white">{{ .StatusCode }}</p>
        <h1 class="mt-4 text-3xl font-bold tracking-tight text-white sm:text-5xl">{{ .StatusMessage }}</h1>
        <div class="mt-10 flex justify-center">
          <a href="/" class="text-sm font-semibold leading-7 text-white"><span aria-hidden="true">&larr;</span> Back to home</a>
        </div>
      </div>
    </main>
  </body>
</html>
